<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mia Elisenberg</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div id="app">

      <div id="header">
        <div class="header-a margin-r padding-a">
          <router-link to="/profile">profile</router-link>
        </div>
        <router-link to="/">
          <div class="icon">
            <img src="img/icon.png" alt="logo icon">
          </div>
        </router-link>
        <div class="header-a margin-l padding-a">
          <router-link to="/projects">projects</router-link>
        </div>
      </div>

      <router-view></router-view>

      <!--
      <div id="home" class="content">
        <h3>Currently working on</h3>
        <ul>
          <li v-for="thing in home.currently">{{thing}}</li>
        </ul>
      </div>
    -->

      <!--
      <div id="projects" class="content">
        <div class="project-collection">
          <h3>{{esda.title}}</h3>
          <p>{{esda.description}}</p>
          <div class="projects">
            <div>
              <h2>{{esda.designNotes.title}}</h2>
              <ul>
                <li v-for="designNote in esda.designNotes.content">
                  <a :href="designNote.path">{{designNote.title}}</a>
                </li>
              </ul>
            </div>
            <div>
              <h2>{{esda.appNotes.title}}</h2>
              <ul>
                <li v-for="appNote in esda.appNotes.content">
                  <a :href="appNote.path">{{appNote.title}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="project-collection">
          <h3>{{other.title}}</h3>
          <p>{{other.description}}</p>
          <div class="projects">
            <div>
              <h2>{{esda.designNotes.title}}</h2>
              <ul>
                <li v-for="designNote in esda.designNotes.content">
                  <a :href="designNote.path">{{designNote.title}}</a>
                </li>
              </ul>
            </div>
            <div>
              <h2>{{esda.appNotes.title}}</h2>
              <ul>
                <li v-for="appNote in esda.appNotes.content">
                  <a :href="appNote.path">{{appNote.title}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    -->

      <footer>
        <div class="h4">
          <h4>Contact</h4>
        </div>
        <p>Mia Elisenberg | mi-ya@live.no</p>
        <p>
          Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> and <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </p>
        <div class="socials">
          <div class="social" v-for="social in socials">
            <a :href="social.url">
              <img :src="social.img" :alt="social.title" :title="social.title">
            </a>
          </div>
        </div>
      </footer>

    </div>

  </body>

  <!-- development version, includes helpful console warnings -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="index.js" ></script>

</html>
